/assets/images/slotjoint-logo.png {
  background-image: url(h) t !important;
}
/assets/images/bullet.png {
  background-image: url(h) t !important;
}
/templates/fairgo_landingpages/images/controls.png {
  background-image: url(h) t !important;
}
/templates/fairgo_landingpages/images/cbox_loading.gif {
  background-image: url(h) t !important;
}
